*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.nav-link:hover {
    color: #8ff8af;
    font-weight: bolder;
}

.navbar-nav .nav-link.active {
    color: #8ff8af;
    font-weight: bolder;
}

nav {
    height: 15vh;
}

#hero {
    background-image: url(/grass.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

footer {
    /* height: 20vh; */
    justify-content: center;
}

i {
    list-style-type: none;
    text-decoration: none;
}

ul {
    gap: 20px;
    display: flex;
}